<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href={{url_for('static',filename='css/global_about.css')}} />
    <link rel="stylesheet" href={{url_for('static',filename='css/index_about.css')}} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Work Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="about-us">
      <div class="bg">
        <div class="bg-child"></div>
      </div>
      <button class="navbar">
        <div class="navbar-child"></div>
        <b class="about-us1">ABOUT US</b>
        <img class="user-icon" alt="" src="./public/user.svg" />

        <b class="profile">PROFILE</b>
        <b class="contact-us">CONTACT US</b>
      </button>
      <b class="nexus-sl-aims"
        >Nexus sl aims to develop an American Sign Language (ASL) to English and
        English to ASL converter using image processing and machine learning
        techniques. The system will utilize computer vision algorithms to
        capture and recognize the ASL signs and convert them into corresponding
        English text. It will also allow users to input English text, which will
        be translated into ASL signs via a trained machine-learning model. The
        goal is to integrate this technology into Internet of Things (IoT)
        devices to make communication easier for deaf and mute individuals. By
        incorporating image processing and AI, this project aims to provide an
        accessible and user-friendly tool for bridging the communication gap
        between hearing and non-hearing communities.</b
      >
      <img
        class="whatsapp-image-2023-08-24-at-4-icon"
        alt=""
        src="./public/whatsapp-image-20230824-at-409-1@2x.png"
      />
    </div>
  </body>
</html>
