
{% extends "base.html" %}

{% block data%}
      <div class="content">
    <img class="logo" alt="" src={{url_for('static',filename='images/logo.png')}} />
    <b class="text">Nexus sl aims to develop an American Sign Language (ASL) to English and
      English to ASL converter using image processing and machine learning
      techniques. The system will utilize computer vision algorithms to
      capture and recognize the ASL signs and convert them into corresponding
      English text. It will also allow users to input English text, which will
      be translated into ASL signs via a trained machine-learning model. The
      goal is to integrate this technology into Internet of Things (IoT)
      devices to make communication easier for deaf and mute individuals. By
      incorporating image processing and AI, this project aims to provide an
      accessible and user-friendly tool for bridging the communication gap
      between hearing and non-hearing communities.
    </b>
  </div>
{% endblock %}

