{% extends "base.html" %}

{% block data%}
        <div class="members">
            <div class="left-mem">
                <div class="member">
                    <img class="user-icon" alt="" src={{url_for('static',filename='images/user2.svg')}} />
                    <div class="info">
                        <p>Ramneet Singh</p>
                        <p>102003071</p>
                        <i><a href="mailto:rsingh_be20@gmail.com?subject=subject text"  class="mail">rsingh_be20@gmail.com</a></i>
                    </div>
                </div>
                <div class="member">
                    <img class="user-icon" alt="" src={{url_for('static',filename='images/user2.svg')}} />
                    <div class="info">
                        <p>Diya Gupta</p>
                        <p>102003076</p>
                        <i><a href="mailto:dgupta_be20@gmail.com?subject=subject text" class="mail">dgupta_be20@gmail.com</a></i>
                    </div>
                </div>
                <div class="member">
                    <img class="user-icon" alt="" src={{url_for('static',filename='images/user2.svg')}} />
                    <div class="info">
                        <p>Rupinder Kaur</p>
                        <p>102003077</p>
                        <i><a href="mailto:rkaur_be20@gmail.com?subject=subject text" class="mail">rkaur_be20@gmail.com</a></i>
                    </div>
                </div>
            </div>
            <div class="right-mem">
                <div class="member">
                    <img class="user-icon" alt="" src={{url_for('static',filename='images/user2.svg')}} />
                    <div class="info">
                        <p>Gurkirat Singh</p>
                        <p>102003085</p>
                        <i><a href="mailto:gsingh17_be20@gmail.com?subject=subject text" class="mail">gsingh17_be20@gmail.com</a></i>
                    </div>
                </div>
                <div class="member">
                    <img class="user-icon" alt="" src={{url_for('static',filename='images/user2.svg')}} />
                    <div class="info">
                        <p>Vansh Malhotra</p>
                        <p>102003093</p>
                        <i><a href="mailto:vmalhotra_be20@gmail.com?subject=subject text" class="mail">vmalhotra_be20@gmail.com</a></i>
                    </div>
                </div>
            </div>
            </div>
 {% endblock %}